# django and tools
ipython
django-extensions
django-admin-tools
psycopg2
httplib2
Werkzeug
django-easyconfig 
feedparser
django-push
git+git://github.com/quinode/subhub.git
# pysolr
Geohash
geopy
simplejson
django-scanredirect

# django-scanredirect
git+git://github.com/quinode/django-scanredirect.git


# redis
git+git://github.com/ui/django-rq.git

# haystack
git+git://github.com/rhec/pyelasticsearch.git
git+git://github.com/quinode/django-haystack.git
git+git://github.com/quinode/haystackES-fr.git

# git+git://github.com/toastdriven/pyelasticsearch.git


# rdf stuffs
rdflib
rdfextras
git+git://github.com/RDFLib/rdflib-jsonld.git
git+git://github.com/RDFLib/rdflib-sparqlstore.git
git+git://github.com/quinode/RDFAlchemy.git
git+git://github.com/FormAlchemy/formalchemy.git
SQLAlchemy==0.7.9


# core agregator
git+git://github.com/quinode/django-rdfalchemy.git


# central logging
raven
sentry

# dev debug tools
django-debug-toolbar
FirePython
